@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:ital,wght@0,500;1,400;1,900&family=PT+Serif&display=swap');

/* change everything */
@media only screen and (max-device-width: 768px) and (min-device-width: 360px) {
    *{
        padding: 0; 
        margin: 0; 
        box-sizing: border-box;
    }
    html {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    a {
        text-decoration: none;
    }
    /* puts it in the center*/
    .container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    .header { 
        width: 100%;
        height: 120px;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .header ul{
        list-style: none;
        background-color: #002855;
        height: 7rem;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .header ul a{
        font-size: .7rem; 
        text-decoration: none;
        color: white; 
        text-transform: uppercase;
        padding: 11px;
        display: block;
        font-weight: 900;
        width: 100%;
    }
    .header .ucd a{
        color:#FFBF00;
        font-size: 1.4rem; 
        padding-left: 1rem;
        font-weight: bold;
    }
    .bar {
        background-color: #FFBF00;
        width: 100%;
        height: 1.2rem;
    }
    select,option {
        background-color: lightgray;
        border: 2px solid #002855;
        border-radius: 6px;
    }
    #blink {
        display: none;
    }
    .central {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 100%;
    }
    label { 
        color: #002855;
        font-weight: 700;
        font-size: 1.5rem;
    }
    input { 
        background-color: lightgray;
        z-index: -1;
        border-radius: 2px;
        font-size: 1rem;
        color: #002855;
    }
    p {
        color: #002855;
        font-weight: 900;
    }
    .note {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
        border: 3px groove lightgray;
        border-radius: 6px;
        align-items: center;
        justify-content: center;
        background-color: lightgray;
        margin-bottom: 50px;
        margin-top: 40px;
    }
    .box { 
        width: 100%;
        padding: 20px;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 1.2rem;
    }
    p.info {
        font-size: 2rem;
    }
    /*keep this */
    .footer { 
        width: 100%;
        height: 13rem;
        background-color: #002855;
        display: flex;
        flex-direction: row;
    }
    div.col1, div.col2, div.col3 { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img { 
        margin-left: 1rem;
        margin-bottom: 2rem;
        width: 100%;    
    }
    .vm_img { 
        width: 30%;
        align-items: center;
        display: flex;
        justify-content: right;
        margin-left: 1rem;
    }
    .content { 
        margin-top: 2rem;
        width: 70%;
    }
    hr {
        display: block;
        background-color: #FFBF00;
        width: 13rem;
        height: 2px;
    }
    .title { 
        font-size: 2rem;
        font-weight: 900;
        color: #FFBF00;
        padding: 5px;
    }
    .vet_txt { 
        font-size: 1.8rem;
        font-weight: 900;
        color: white;
        padding: 5px;
    }
    p.right {
        color: white;
        padding-top: .6rem;
        font-size: .4rem;
        padding-right: 10px;
    }
    button {
        background-color: #002855;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: .6rem;
        border-radius: 8px;
        padding: 10px;
        padding-top: 5px;
        margin-top: -10px;
        height: 20px;
        position: absolute;
        z-index: 1;
        margin-left: 88%;
    }
    fieldset {
        border: 2px solid #002855;
        border-radius: 6px;
        width: 100%;
        padding: 0.5em;
    }
    input.sbtn { 
        background-color: #002855;
        color: white; 
        font-size: 1.3rem; 
        width: 300px; 
        height: 50px; 
        border-radius: 8px;
        z-index: 1;
        cursor:pointer;
        transition: 800ms ease all;
        outline: none;
        transition: .16s;
        margin-bottom: 60px;
    }
    input.sbtn:hover {
        opacity: .8;
        background-color: #FFBF00;
    }
}

/* tablet to laptop*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) {
    *{
        padding: 0; 
        margin: 0; 
        box-sizing: border-box;
    }
    html {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    a {
        text-decoration: none;
    }
    /* puts it in the center*/
    .container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    /* header */
    .header { 
        width: 100%;
        height: 200px;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .header ul{
        list-style: none;
        background-color: #002855;
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .header ul a{
        font-size: 1.2rem; 
        text-decoration: none;
        color: white; 
        text-transform: uppercase;
        padding: 11px;
        display: block;
        font-weight: 900;
    }
    .tab {
        display: inline-block;
        margin-left: 25px;
    }
    .header .ucd a{
        color:#FFBF00;
        font-size: 3rem; 
        padding-left: 1rem;
        font-weight: bold;
    }
    .bar {
        background-color: #FFBF00;
        width: 100%;
        height: 1.2rem;
    }
    select,option {
        background-color: lightgray;
        border: 2px solid #002855;
        border-radius: 6px;
    }
    #blink {
        display: none;
    }
    .central {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 100%;
    }
    label { 
        color: #002855;
        font-weight: 700;
        font-size: 2rem;
    }
    input { 
        background-color: lightgray;
        z-index: -1;
        border-radius: 6px;
        font-size: 1.8rem;
        padding-left: .3em;
        color: #002855;
    }
    p {
        color: #002855;
        font-weight: 900;
        font-size: 1.5rem;
    }
    .note {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
        border: 3px groove lightgray;
        border-radius: 6px;
        align-items: center;
        justify-content: center;
        background-color: lightgray;
        margin-bottom: 50px;
        margin-top: 60px;
    }
    .box { 
        width: 100%;
        padding: 20px;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 1.2rem;
    }
    p.info {
        font-size: 2.5rem;
    }
    /*keep this */
    .footer { 
        width: 100%;
        height: 16rem;
        background-color: #002855;
        display: flex;
        flex-direction: row;
    }
    div.col1, div.col2, div.col3 { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* footer */
    img { 
        margin-left: 5rem;
        margin-bottom: 0rem;
        width: 75%;    
    }
    .vm_img { 
        width: 30%;
        align-items: center;
        display: flex;
        justify-content: right;
        margin-left: 1rem;
    }
    .content { 
        margin-top: 2rem;
        width: 70%;
        padding-top: 15px;
        padding-left: 40px;
    }
    hr {
        display: block;
        background-color: #FFBF00;
        width: 30rem;
        height: 2px;
    }
    .title { 
        font-size: 3rem;
        font-weight: 900;
        color: #FFBF00;
        padding: 5px;
    }
    .vet_txt { 
        font-size: 2.5rem;
        font-weight: 900;
        color: white;
        padding: 5px;
    }
    p.right {
        color: white;
        padding-top: .6rem;
        font-size: .5rem;
        padding-right: 10px;
    }
    /* footer ends */
    button {
        background-color: #002855;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: .6rem;
        border-radius: 8px;
        padding: 10px;
        padding-top: 5px;
        margin-top: -10px;
        height: 20px;
        position: absolute;
        z-index: 1;
        margin-left: 88%;
    }
    fieldset {
        border: 2px solid #002855;
        border-radius: 6px;
        width: 100%;
        padding-left: .5em;
    }
    input.sbtn { 
        background-color: #002855;
        color: white; 
        font-size: 1.6rem; 
        font-weight: 900;
        width: 300px; 
        height: 50px; 
        border-radius: 8px;
        z-index: 1;
        cursor:pointer;
        transition: 800ms ease all;
        outline: none;
        transition: .16s;
        margin-bottom: 60px;
    }
    input.sbtn:hover {
        opacity: .8;
        background-color: #FFBF00;
    }
}


@media only screen and (min-device-width: 1281px) { 
/* desktop scale */
    *{
        padding: 0; 
        margin: 0; 
        box-sizing: border-box;
    }
    fieldset {
        border: none; 
        color: none;
    }
    html {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    a {
        text-decoration: none;
    }
    /* puts it in the center*/
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .header { 
        width: 100%;
        /* height: 260px; */
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .header ul{
        list-style: none;
        background-color: #002855;
        width: 100%;
        height: 130px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .header ul a{
        font-size: 1.5rem; 
        letter-spacing: .2rem;
        text-decoration: none;
        color: white; 
        text-transform: uppercase;
        padding: 40px;
        display: block;
        font-weight: 900;
    }
    /* add some hover affect to show the details */
    .bar {
        background-color: #FFBF00;
        width: 100%;
        height: 20px;
        transition: .3s ease transform;
        margin-bottom: 20px;
    }
    .tab {
        display: inline-block;
        margin-left: 25px;
    }
    .header .ucd a{
        color:#FFBF00;
        margin-right: 0; 
        font-size: 4.5rem; 
        font-weight: bold;
    }
    .disclaimer {
        width: 100%;
        background-color: lightgray;
        height: 100px;
        text-align: center;
        padding-top: 20px;
    }
    /* put some effect to this phrase */
    p.hidden { 
        font-size: 2rem;
        color: #002855;
    }
    .body {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%; 
        height: auto; 
    }
    .central {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    form {
        align-items: center;
        width: 90%;
        display: flex;
        padding-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
        justify-content: center;
        margin-bottom: 5px;
        margin-top: 20px;
    }
    label { 
        color: #002855;
        font-weight: 700;
        font-size: 1.3rem;
    }
    p {
        color: #002855;
        font-weight: 900;
    }
    input { 
        background-color: lightgray;
        z-index: -1;
        border-radius: 6px;
        padding-left: .5em;
        font-weight: 700;
        color: #002855;
        font-size: 1rem;
        margin-left: 10px;
    }
    select,option {
        background-color: lightgray;
        border: 2px solid #002855;
        border-radius: 6px;
    }
    div.col1{ 
        width: 80%;
        height: auto;
        margin-bottom: 80px;
        align-items: center;
        padding-left: 80px;
        margin-right: 40px;
        padding-right: 100px;
    }
    div.col2{ 
        width: 80%;
        margin-right: 40px;
        padding-left: 40px;
        margin-bottom: 110px;
    }
    div.col3{ 
        width: 100%;
        margin-bottom: 390px;
    }
    div.shrink label{
        font-size: 0.8rem;
        padding: 5px;
    }
    p.right {
        color: white;
        padding-top: 1rem;
    }
    input.sbtn { 
        background-color: #002855;
        color: white; 
        font-size: 1.3rem; 
        width: 300px; 
        height: 50px; 
        border-radius: 8px;
        z-index: 1;
        cursor:pointer;
        transition: 800ms ease all;
        outline: none;
        transition: .16s;
        margin-bottom: 20px;
    }
    input.sbtn:hover {
        opacity: .8;
        background-color: #FFBF00;
    }
    fieldset { 
        border: 2px solid #002855;
        border-radius: 6px;
        width: 80%;
    }
    .note {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
        border: 3px groove lightgray;
        align-items: center;
        justify-content: center;
        background-color: lightgray;
        margin-bottom: 50px;
    }
    p.info {
        font-size: 2.5rem;
        padding-top: 10px;
    }
    .line {
        background-color: #002855;
        width: 60%;
        height: 5px;
        border-radius: 6px;
    }
    .box { 
        width: 70%;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 1.4rem;
    }
    p.important { 
        font-size: 2rem;
        padding-top: 40px;
    }
    .footer { 
        width: 100%;
        margin-top: 100px;
        height: 300px;
        background-color: #002855;
        display: flex;
        flex-direction: row;
    }
    img { 
        margin-left: 7rem;
    }
    .vm_img { 
        width: 30%;
        align-items: center;
        display: flex;
        justify-content: right;
        margin-left: 5rem;
    }
    .content { 
        margin-top: 2rem;
        width: 70%;
    }
    hr {
        display: block;
        background-color: #FFBF00;
        height: 4px;
        width: 58%;
    }
    .title { 
        font-size: 4rem;
        font-weight: 900;
        color: #FFBF00;
        padding: 5px;
    }
    .vet_txt { 
        font-size: 4rem;
        font-weight: 900;
        color: white;
        padding: 5px;
    }
}