@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:ital,wght@0,500;1,400;1,900&family=PT+Serif&display=swap');

@media only screen and (max-device-width: 768px) and (min-device-width: 360px) {
    *{
        padding: 0; 
        margin: 0; 
        box-sizing: border-box;
    }
    html {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        background-color: #002855;
    }
    a {
        text-decoration: none;
    }
    .container {
        background-color: #002855;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
    .vid-styl {
        border-radius: 6px; 
        border:3px solid white; 
        margin-top: 20px;
        width: 300px;
    }
    .header { 
        width: 100%;
        height: 120px;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .header ul{
        list-style: none;
        background-color: #002855;
        width: 100%;
        height: 7rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .header ul a{
        font-size: .7rem; 
        text-decoration: none;
        color: white; 
        text-transform: uppercase;
        padding: 11px;
        display: block;
        font-weight: 900;
    }
    .tab {
        display: inline-block;
        margin-left: 25px;
    }
    .header .ucd a{
        color:#FFBF00;
        font-size: 1.4rem; 
        padding-left: 1rem;
        font-weight: bold;
    }
    .intro {
        width: 100%;
        display: flex;
        padding: 50px;
        padding-top: 10px;
        margin-top: 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .inst {
        width: 100%;
        display: flex;
        padding: 10px;
        margin-top: 30px;
        justify-content: right;
        align-items: right;
        flex-direction: column;
        border: 2px solid white;
        border-radius: 10px;
    }
    h1 {
        color: whitesmoke;
        font-weight: 900; 
        padding-bottom: 50px;
        font-size: 1.5rem;
    }
    h3 {
        color: whitesmoke;
        font-weight: 700; 
        font-size: 1.2rem;
        padding-bottom: 50px;
    }
    p {
        color: whitesmoke;
        font-weight: 700; 
        font-size: 1rem;
        padding-bottom: 50px;
    }
    .htu {
        padding-left: 0px; 
        font-size: 2rem;
    }
    .footer { 
        width: 100%;
        height: 13rem;
        margin-top: 50px;
        background-color: #002855;
        display: flex;
        flex-direction: row;
    }
    img { 
        margin-left: 1rem;
        margin-bottom: 2rem;
        width: 100%;    
    }
    .vm_img { 
        width: 30%;
        align-items: center;
        display: flex;
        justify-content: right;
        margin-left: 1rem;
    }
    .content { 
        margin-top: 2rem;
        width: 70%;
    }
    hr {
        display: block;
        background-color: #FFBF00;
        width: 13rem;
        height: 2px;
    }
    .title { 
        font-size: 2rem;
        font-weight: 900;
        color: #FFBF00;
        padding: 5px;
    }
    .vet_txt { 
        font-size: 1.8rem;
        font-weight: 900;
        color: white;
        padding: 5px;
    }
    p.right {
        color: white;
        padding-top: .6rem;
        font-size: .4rem;
        padding-right: 10px;
    }
}


/* tablet to laptop*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) {
    *{
        padding: 0; 
        margin: 0; 
        box-sizing: border-box;
    }
    html {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        background-color: #002855;
    }
    a {
        text-decoration: none;
    }
    .container {
        background-color: #002855;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
    .vid-styl {
        border-radius: 6px; 
        border:3px solid white; 
        margin-top: 20px;
        margin-bottom: 30px;
        width: 600px;
    }
    /* header */
    .header { 
        width: 100%;
        height: 200px;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .header ul{
        list-style: none;
        background-color: #002855;
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .header ul a{
        font-size: 1.2rem; 
        text-decoration: none;
        color: white; 
        text-transform: uppercase;
        padding: 11px;
        display: block;
        font-weight: 900;
    }
    .tab {
        display: inline-block;
        margin-left: 25px;
    }
    .header .ucd a{
        color:#FFBF00;
        font-size: 3rem; 
        padding-left: 1rem;
        font-weight: bold;
    }
    .intro {
        width: 100%;
        display: flex;
        padding: 50px;
        padding-top: 10px;
        margin-top: 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .inst {
        width: 100%;
        display: flex;
        padding: 10px;
        margin-top: 30px;
        justify-content: right;
        align-items: right;
        flex-direction: column;
        border: 2px solid white;
        border-radius: 10px;
    }
    h1 {
        color: whitesmoke;
        font-weight: 900; 
        padding-bottom: 50px;
        font-size: 2.5rem;
        width: 90%;
        padding-left: 20px;
    }
    h3 {
        color: whitesmoke;
        font-weight: 700; 
        font-size: 1.2rem;
        padding-bottom: 50px;
        width: 100%;
        padding-left: 10px;
    }
    p {
        color: whitesmoke;
        font-weight: 700; 
        font-size: 1rem;
        padding-bottom: 50px;
    }
    .htu {
        padding-left: 0px; 
        font-size: 2rem;
    }
    .footer { 
        width: 100%;
        height: 16rem;
        margin-top: 50px;
        background-color: #002855;
        display: flex;
        flex-direction: row;
    }
    img { 
        margin-left: 5rem;
        margin-bottom: 0rem;
        width: 75%;    
    }
    .vm_img { 
        width: 30%;
        align-items: center;
        display: flex;
        justify-content: right;
        margin-left: 1rem;
    }
    .content { 
        margin-top: 2rem;
        width: 70%;
        padding-top: 15px;
        padding-left: 40px;
    }
    hr {
        display: block;
        background-color: #FFBF00;
        width: 30rem;
        height: 2px;
    }
    .title { 
        font-size: 3rem;
        font-weight: 900;
        color: #FFBF00;
        padding: 5px;
    }
    .vet_txt { 
        font-size: 2.5rem;
        font-weight: 900;
        color: white;
        padding: 5px;
    }
    p.right {
        color: white;
        padding-top: .6rem;
        font-size: .5rem;
        padding-right: 10px;
    }
}

/* desktop */ 
@media only screen and (min-device-width: 1281px) { 
    *{
        padding: 0; 
        margin: 0; 
        box-sizing: border-box;
    }
    html {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        background-color: #002855;
    }
    a {
        text-decoration: none;
    }
    .container {
        background-color: #002855;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
    /* snow effect */
    .snow, .snow:after, .snow:before {
        content: "";
        position: absolute;
        top: -650px;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: 
        radial-gradient(4px 4px at 100px 50px, #fff, transparent),
        radial-gradient(5px 5px at 200px 150px, #fff, transparent),
        radial-gradient(3px 3px at 300px 250px, #fff, transparent),
        radial-gradient(4px 4px at 400px 350px, #fff, transparent),
        radial-gradient(10px 10px at 500px 100px, #fff, transparent),
        radial-gradient(3px 3px at 50px 200px, #fff, transparent),
        radial-gradient(4px 4px at 150px 300px, #fff, transparent),
        radial-gradient(5px 5px at 250px 400px, #fff, transparent),
        radial-gradient(3px 3px at 350px 500px, #fff, transparent);
        background-size: 650px 650px;
        animation: snowIng 4s linear;
        animation-iteration-count: infinite;
    }
    .snow:after{
        margin-left: -250px;
        opacity: 0.5;
        filter: blur(2px);
        animation-direction: reverse;
        animation-duration: 6s
    }
    .snow:before{
        margin-left: -350px;
        opacity: 0.7;
        filter: blur(1px);
    }
    @keyframes snowIng {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(650px);
        }
    }
    .header { 
        width: 100%;
        height: 170px;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .header ul{
        list-style: none;
        background-color: #002855;
        width: 100%;
        height: 130px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .header ul a{
        font-size: 1.7rem; 
        letter-spacing: .5rem;
        text-decoration: none;
        color: white; 
        text-transform: uppercase;
        padding: 40px;
        display: block;
        font-weight: 900;
    }
    .tab {
        display: inline-block;
        margin-left: 25px;
    }
    .header .ucd a{
        color:#FFBF00;
        margin-right: 0; 
        font-size: 4.5rem; 
        font-weight: bold;
    }
    .intro {
        width: 90%;
        display: flex;
        padding: 10px;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .inst {
        width: 100%;
        display: flex;
        padding: 40px;
        margin-top: 40px;
        justify-content: right;
        align-items: right;
        flex-direction: column;
        border: 6px solid white;
        border-radius: 10px;
    }
    h1 {
        color: whitesmoke;
        font-weight: 900; 
        padding-bottom: 50px;
        font-size: 3rem;
    }
    h3 {
        color: whitesmoke;
        font-weight: 700; 
        font-size: 1.5rem;
        padding-bottom: 50px;
    }
    p {
        color: whitesmoke;
        font-weight: 700; 
        font-size: 1.2rem;
        padding-bottom: 50px;
    }
    .footer { 
        width: 100%;
        margin-top: 100px;
        height: 300px;
        background-color: #002855;
        display: flex;
        flex-direction: row;
    }
    img { 
        margin-left: 7rem;
    }
    .vm_img { 
        width: 30%;
        align-items: center;
        display: flex;
        justify-content: right;
        margin-left: 5rem;
    }
    .content { 
        margin-top: 2rem;
        width: 70%;
    }
    hr {
        display: block;
        background-color: #FFBF00;
        height: 4px;
        width: 58%;
    }
    .title { 
        font-size: 4rem;
        font-weight: 900;
        color: #FFBF00;
        padding: 5px;
    }
    .vet_txt { 
        font-size: 4rem;
        font-weight: 900;
        color: white;
        padding: 5px;
    }
    .vid-styl {
        border-radius: 6px; 
        border:3px solid white; 
        margin-top: 100px;
        width: 800px;
    }
    .htu {
        padding-left: 30px; 
        font-size: 3rem;
    }
    p.right {
        color: white;
        font-size: 1rem;
        padding-right: 10px;
    }
}