@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:ital,wght@0,500;1,400;1,900&family=PT+Serif&display=swap');

@media only screen and (max-device-width: 768px) and (min-device-width: 360px) {
    .header ul{ 
        background-color: white;
    }
    .header ul a, .header .ucd a{
        color: #002855;
    }
    .bar {
        background-color: #FFBF00;
        width: 100%;
        height: 1.2rem;
    }
    .header { 
        width: 100%;
        height: 220px;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .container {
        min-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    .top { 
        width: 100%;
        align-items: left;
        padding-left: 20px;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }
    .bottom {
        width: 80%;
        display: flex;
        background-color: white;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 12rem;
        z-index: 1;
        padding: 20px;
        border-radius: 19px;
        margin-top: 20px;
        background-color:rgba(255,255,255,.7);
   }
    a.effect { 
        background-color: #002855;
		color: white; 
        font-size: 1.2rem; 
        width: 6rem; 
        height:2rem; 
        border-radius: 8px; 
        padding-left: .8rem; 
        padding-top: .2rem; 
        padding-bottom: .2rem;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    } 
    
    body {
        background: linear-gradient(-45deg, #b2e300, #FFC519, #002855, #0694ad);
        background-size: 400% 400%;
        /*animation: gradient 15s ease infinite;*/
        animation: gradient 9s ease infinite;
    }
    .poll {
        border: 1px solid white;
        width: 70%;
        margin-top: 100px;
    }
    p.important {
        width: 30%; 
        color: whitesmoke;
        margin-left: 40px;
        align-items: center;
        font-size: 2rem;
        margin-top: 30px;
    }
    .header .line {
        width: 130px;
        margin-left: 32px;
        background-color: whitesmoke;
        border: 1px solid whitesmoke;
    }
    .closure {
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        margin: 0px;
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .box { 
        display: flex;
        height: 150px; 
        width: 70%;
        background-color: white;
        margin-top: 10px;
        border: 3px solid #002855;
        margin-bottom: 30px;
    }
    p.b_type {
        padding-top: 1rem; 
        padding-bottom: 1rem;
    }
    .vet_txt { 
        padding-right: 0px;
        margin-left: 0px;
        font-size: 1.8rem;
    }
    .view {
        width: 80%;
        border-radius: 6px;
        border: 3px solid #002855;
        background-color: lightblue;
        justify-content: center;
        flex-direction: column;
        display: flex;
        margin-top: 2rem;
    }
    a.effect { 
        background-color: #002855;
		color: white; 
        font-size: .9rem; 
        width: 6rem; 
        height:2rem; 
        margin-top: 1rem;
        border-radius: 8px; 
        padding-left: .8rem; 
        padding-top: .2rem; 
        padding-bottom: .2rem;
    }
}
@media only screen and (max-device-width: 1281px) and (min-device-width: 768px) {
    .header ul{ 
        background-color: white;
    }
    .header ul a, .header .ucd a{
        color: #002855;
    }
    .bar {
        background-color: #FFBF00;
        width: 100%;
        height: 1.2rem;
    }
    .header { 
        width: 100%;
        height: 250px;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    p {
        font-size: 1.6rem;
    }
    .container {
        min-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    .top { 
        width: 100%;
        align-items: left;
        padding-left: 30px;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .bottom {
        width: 80%;
        display: flex;
        background-color: white;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 17rem;
        z-index: 1;
        padding: 30px;
        border-radius: 19px;
        margin-top: 50px;
        background-color:rgba(255,255,255,.7);
   }
    a.effect { 
        background-color: #002855;
		color: white; 
        font-size: 1.2rem; 
        width: 8rem; 
        height:4rem; 
        margin-top: 1rem;
        border-radius: 8px; 
        padding-left: .8rem; 
        padding-top: .2rem; 
        padding-bottom: .2rem;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    } 
    
    body {
        background: linear-gradient(-45deg, #b2e300, #FFC519, #002855, #0694ad);
        background-size: 400% 400%;
        /*animation: gradient 15s ease infinite;*/
        animation: gradient 9s ease infinite;
    }
    .poll {
        border: 2px solid white;
        width: 73%;
        margin-top: 100px;
    }
    p.important {
        width: 30%; 
        color: whitesmoke;
        margin-left: 40px;
        align-items: center;
        font-size: 3rem;
        margin-top: 30px;
    }
    .header .line {
        width: 160px;
        margin-left: 37px;
        background-color: whitesmoke;
        border: 2px solid whitesmoke;
    }
    .closure {
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        margin: 0px;
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .box { 
        display: flex;
        height: 150px; 
        width: 70%;
        background-color: white;
        margin-top: 50px;
        border: 3px solid #002855;
        margin-bottom: 30px;
    }
    p.b_type {
        padding-top: 1rem; 
        padding-bottom: 1rem;
    }
    hr {
        width: 33rem;
    }
    .vet_txt { 
        padding-right: 0px;
        margin-left: 0px;
        font-size: 2.5rem;
    }
    .view {
        width: 80%;
        height: auto;
        border-radius: 6px;
        border: 3px solid #002855;
        background-color: lightblue;
        justify-content: center;
        flex-direction: column;
        display: flex;
        margin-top: 2rem;
    }
}
/*desktop*/ 
@media only screen and (min-device-width: 1281px) {
    a.effect { 
        background-color: #002855;
		color: white; 
        font-size: 1.8rem; 
        width: auto; 
        height: 3rem; 
        border-radius: 8px; 
        padding-left: .5rem; 
        padding-right: .5rem;
        padding-top: .3rem; 
        padding-bottom: .5rem;
    }
    p.b_type {
        padding-top: 5rem; 
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    .header ul{ 
        background-color: white;
    }
    .header ul a, .header .ucd a{
        color: #002855;
    }
    .bar {
        background-color: #FFC519;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }    
    body {
        background: linear-gradient(-45deg, #b2e300, #FFC519, #002855, #0694ad);
        background-size: 400% 400%;
        /*animation: gradient 15s ease infinite;*/
        animation: gradient 9s ease infinite;
    }
    p.write  {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem; 
        font-size: 2.3rem;
    }
    p { 
        font-weight: 900;
        color: #002855;
    }
    .poll {
        border: 2px solid white;
        width: 70%;
        margin-top: 150px;
    }
    .top { 
        width: 100%;
        align-items: center;
    }
    p.important {
        width: 30%; 
        color: whitesmoke;
        margin-left: 300px;
        align-items: center;
        font-size: 3.5rem;
    }
    .header .line {
        width: 230px;
        margin-left: 280px;
        background-color: whitesmoke;
    }
    .box { 
        display: flex;
        width: 70%;
        background-color: white;
        margin-top:50px;
        border: 3px solid #002855;
        margin-bottom: 30px;
    }
    .bottom {
        width: 70%;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        background-color: white;
        padding: 40px;
        margin-bottom: 10px;
        border-radius: 18px;
        background-color:rgba(255,255,255,.7);
    }
    .closure {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        margin: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .title {
        margin-left: 0px;
        margin-top: 30px;
        -webkit-text-fill-color: #FFC519;
        -webkit-text-stroke-color: whitesmoke;
        -webkit-text-stroke-width: .50px; 
    /*    color: #002855;*/
        font-size: 4.5rem;
    }
    .vet_txt { 
        padding-right: 0px;
        margin-left: 0px;
        -webkit-text-fill-color: #002855;
        -webkit-text-stroke-color: whitesmoke;
        -webkit-text-stroke-width: .50px; 
        font-size: 4rem;
    }
    .right {
        font-size: .9rem;
        margin-left: 0px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    hr {
        margin-left: 0px;
        width: 70%;
    }
    p {
        font-size: 1.5rem;
        font-weight: 900;
    }
    .view {
        width: 80%;
        height: auto;
        border-radius: 6px;
        border: 3px solid #002855;
        background-color: lightblue;
        justify-content: center;
        flex-direction: column;
        display: flex;
        margin-top: 2rem;
    }
}
