<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="index.css">
	<link rel="stylesheet" href="contact.css">
	<title>Home page</title>
</head>
<body>
	<!-- this will be under the whole container -->
    <div class="container">
		<div class="header">
				<ul>
					<li class="ucd"><a href="home">UC DAVIS</a></li>
					<li><a href="index">Input</a></li>
					<!--
					<li><a onclick="alertFunction()" href="index">Lepto-classifier</a></li>
					<script>
						function alertFunction() {
						 alert("Sorry the page is currently under construction, Stay tuned for the update!");
						}
					</script>
				-->
					<!-- change this to input -->
 					<li><a href="help">Help</a></li>
 					<li><a href="contact">Contact</a></li>
				</ul>
			<div class="bar"></div>
		</div>
		<section id="contact">
			<div class="contact container">
				<div style="margin-bottom: 1rem;"><h1>Contact</h1></div>
				<div class="contact-items">
					<div class="contact-item">
						<div class="icon">
							<img src="https://img.icons8.com/bubbles/100/000000/phone.png"/>
						</div>
						<div class="contact-info">
							<h1>Phone</h1>
							<h2>(+1) (530) 752-1363</h2>
						</div>
					</div>
					<div class="contact-item">
						<div class="icon">
							<img src="https://img.icons8.com/bubbles/100/000000/new-post.png"/>
						</div>
						<div class="contact-info">
							<h1>Email</h1>
							<h2>Dr.Reagan (Supervisor): kreagan@ucdavis.edu</h2>
							<h3>http://www.drkrystlereagan.com</h3>
						</div>
					</div>
					<div class="contact-item">
						<div class="icon">
							<img src="https://img.icons8.com/bubbles/100/000000/map-marker.png"/>
						</div>
						<div class="contact-info">
							<h1>Address</h1>
							<h2>One Shields Avenue Davis, CA  95616, 2018 Tupper Hall</h2>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="footer">
			<div class="vm_img">
				<img class="ft_img" src="vet_pic.png"/>
			</div>
			<div class="content">
				<div class="title">UC DAVIS</div>	
				<hr>
				<div class="vet_txt">VETERINARY MEDICINE</div>
				<p class="right">Copyright © 2022 UC DAVIS VETERINARY MEDICINE. All rights resereved</p>
			</div>
		</div>
</body>