<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="index.css">
	<link rel="stylesheet" href="help.css">
	<title>Home page</title>
</head>

<body>
    <div class="container">
		<div class="header">
				<ul>
					<li class="ucd"><a href="home">UC DAVIS</a></li>
					<li><a href="index">Input</a></li>	
					<!--
					<li><a onclick="alertFunction()" href="home">Lepto-classifier</a></li>
					<script>
						function alertFunction() {
						 alert("Sorry the page is currently under construction, Stay tuned for the update!");
						}
					</script>
				-->
 					<li><a href="help">Help</a></li>
 					<li><a href="contact">Contact</a></li>
				</ul>
			<div class="bar"></div>
		</div>

		<div class="helper">
			<!-- Left contact page --> 
			<div class="left_func">
				<p class="header_help">Please describe the issue, we are happy to help!</p>
				<div class="entry">
					<form action="/submit_contact" method="POST" class="form-horizontal">
							<input type="text" name="name" placeholder="Name" value="" required >
							<input type="email" name="email" placeholder="Email" required >
							<input class="expanded" type="text" name="issue" placeholder="Describe the issue">
							<input class="style" type="submit" value="Submit">
					</form>
				</div>
			</div>
			<div class="right_func">
				<div class="picture">
					<img class="dog" src="dog.png" alt="Image not available" />	
				<!-- image on the right side -->
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="closure">
				<div class="content">
					<div class="title">UC DAVIS</div>	
					<hr>
					<div class="vet_txt">VETERINARY MEDICINE</div>
					<p class="right">Copyright © 2022 UC DAVIS VETERINARY MEDICINE. All rights resereved</p>
				</div>
			</div>
		</div>
	</div>
</body>
