<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="index.css">
	<title>Home page</title>
</head>

<!-- this will contain all the content inside the container box, this portion is manual entry -->
<body>
	<!-- this will be under the whole container -->
    <div class="container">
		<div class="header">
				<ul>
					<li><a style="color:#FFBF00; margin-right: 8rem; font-size: 4rem; font-weight: bold;" href="index.html">UC DAVIS</a></li>
					<li><a href="lepto">Lepto-classifier</a></li>
					<li><a href="result">Result</a></li>
					<li><a href="help">Help</a></li>
					<li><a href="contact">Contact</a></li>
				</ul>
			<div class="bar"></div>
		</div>

		<div class="disclaimer">
			<p class="hidden">If you want faster access to the data, please use ourr Lepto-classifier</p>
			<!--
			<button></button>
			-->
		</div>
		
		<div class="body">
			<!-- will have three chunks of the form portions -->
		<form action="/submit_data" method="POST">
			<div class="col1">
				<label for="Patient Number">Patient Number</label>
				<input type="number" name="Patient Number" placeholder="index number">
				<br><br>
				<label for="Weight">Weight</label>
				<input name="Weight" type="number" placeholder="kg">
				<br><br>
				<label for="Breed Group">Breed Group</label>
				<input type="text" name="Breed Group" accept="Toy, Herding, Hound, Mix, Non-Sporting, Sporting, Terrier, Working, Foundation Stock Service">
				<br><br>
				<label>Sex</label><br>
				<input type="checkbox" name="sex" value="0">
				<label for="male"> Male</label><br>
				<input type="checkbox" name="sex" value="1">
				<label for="female"> Female</label><br>
				<br>
				<label for="MAT">MAT</label>
				<input type="number" name="mat" placeholder="0, 100, 200, 400, ...">
				<br><br>
				<label for="anion gap">Anion Gap</label>
				<input type="number" name="anion gap" placeholder="mmol/L">
				<br><br>
				<label for="sodium">Sodium</label>
				<input type="number" name="sodium" placeholder="mmol/L">
				<br><br>
				<label for="Potassium">Potassium</label>
				<input type="number" name="Potassium" placeholder="mmol/L">
				<br><br>
				<label for="Chloride">Chloride</label>
				<input type="number" name="Chloride" placeholder="mmol/L">
				<br><br>
				<label for="bicarb">Bicarb</label>
				<input type="number" name="bicarb" placeholder="mmol/L">
				<br><br>
				<label for="Phosphorous">Phosphorous</label>
				<input type="number" name="Phosphorous" placeholder="mg/dL">
				<br><br>
				<label for="Calcium">Calcium</label>
				<input type="number" name="Calcium" placeholder="mg/dL">
				<br><br>
				<label for="BUN">BUN</label>
				<input type="number" name="BUN" placeholder="mg/dL">
				<br><br>
				<label for="Creatinine">Creatinine</label>
				<input type="number" name="Creatinine" placeholder="mg/dL">
				<br><br>
				<label for="Glucose">Glucose</label>
				<input type="number" name="Glucose" placeholder="mg/dL">
				<br><br>
				<label for="Total Protein">Total Protein</label>
				<input type="number" name="Total Protein" placeholder="g/dL">
				<br><br>
				<label for="Albumin">Albumin</label>
				<input type="number" name="Albumin" placeholder="g/dL">
				<br><br>
				<label for="Globulin">Globulin</label>
				<input type="number" name="Globulin" placeholder="g/dL">
				<br><br>
			</div>
			<div class="col2">
				<label for="Patient Number">Patient Number</label>
				<input type="number" name="Patient Number" placeholder="index number">
				<br><br>
				<label for="Weight">Weight</label>
				<input name="Weight" type="number" placeholder="kg">
				<br><br>
				<label for="Breed Group">Breed Group</label>
				<input type="text" name="Breed Group" accept="Toy, Herding, Hound, Mix, Non-Sporting, Sporting, Terrier, Working, Foundation Stock Service">
				<br><br>
				<label>Sex</label><br>
				<input type="checkbox" name="sex" value="0">
				<label for="male"> Male</label><br>
				<input type="checkbox" name="sex" value="1">
				<label for="female"> Female</label><br>
				<br>
				<label for="MAT">MAT</label>
				<input type="number" name="mat" placeholder="0, 100, 200, 400, ...">
				<br><br>
				<label for="anion gap">Anion Gap</label>
				<input type="number" name="anion gap" placeholder="mmol/L">
				<br><br>
				<label for="sodium">Sodium</label>
				<input type="number" name="sodium" placeholder="mmol/L">
				<br><br>
				<label for="Potassium">Potassium</label>
				<input type="number" name="Potassium" placeholder="mmol/L">
				<br><br>
				<label for="Chloride">Chloride</label>
				<input type="number" name="Chloride" placeholder="mmol/L">
				<br><br>
				<label for="bicarb">Bicarb</label>
				<input type="number" name="bicarb" placeholder="mmol/L">
				<br><br>
				<label for="Phosphorous">Phosphorous</label>
				<input type="number" name="Phosphorous" placeholder="mg/dL">
				<br><br>
				<label for="Calcium">Calcium</label>
				<input type="number" name="Calcium" placeholder="mg/dL">
				<br><br>
				<label for="BUN">BUN</label>
				<input type="number" name="BUN" placeholder="mg/dL">
				<br><br>
				<label for="Creatinine">Creatinine</label>
				<input type="number" name="Creatinine" placeholder="mg/dL">
				<br><br>
				<label for="Glucose">Glucose</label>
				<input type="number" name="Glucose" placeholder="mg/dL">
				<br><br>
				<label for="Total Protein">Total Protein</label>
				<input type="number" name="Total Protein" placeholder="g/dL">
				<br><br>
				<label for="Albumin">Albumin</label>
				<input type="number" name="Albumin" placeholder="g/dL">
				<br><br>
				<label for="Globulin">Globulin</label>
				<input type="number" name="Globulin" placeholder="g/dL">
				<br><br>
			</div>
			<!--
			<label for="Dog Sex">Dog Sex</label>
			<br>
			<input checked="checked" name="sex" type="radio" value="male"> Male
			<br>
			<input name="sex" type="radio" value="female"> Female
			<br><br>
			<label for="Anion Gap">Anion Gap (mmol/L)</label>
			<br>
			<input name="Anion Gap" type="number" step="0.1">
			<br><br>
			<p>By submitting you agree that the data that is being submited may be collected and used to improve the machine learning model.</p>
			<p>In order to improve the service you may be contacted via the follow up email provided</p>
			<p><strong>Please ensure that all data is inputed correctly before submitting</strong></p>
			<input type="submit" value="Submit">
			-->
		</form>
		
		</div>

		<div class="footer">
			<div class="vm_img">
				<img src="vet_pic.png"/>
			</div>
			<div class="content">
				<div class="title">UC DAVIS</div>	
				<hr>
				<div class="vet_txt">VETERINARY MEDICINE</div>
				<p class="right">Copyright © 2022 UC DAVIS VETERINARY MEDICINE. All rights resereved</p>
			</div>
		</div>


	</div>

</body>
