<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="index.css">
	<link rel="stylesheet" href="lepto.css">
	<title>Home page</title>
</head>

<!-- this will contain all the content inside the container box, this portion is manual entry -->
<body>
	<!-- opens a javascript section -->
    <div class="container">
		<div class="header">
				<ul>
					<li class="ucd"><a href="home">UC DAVIS</a></li>
					<li><a href="lepto">Lepto-classifier</a></li>
 					<li><a href="help">Help</a></li>
 					<li><a href="contact">Contact</a></li>
				</ul>
			<div class="bar"></div>
		</div>

		<div class="top">
			<p>Our Lepto-classifier will extract the pdf and fetch the corresponding data from our database. Once right data is selected, we will forward it to your email! </p>
			<p style="margin-top: 1.5rem;" class="important">Please DO NOT forget to enter your email to recieve the data!</p>
			<p class="important space" style="text-decoration: underline;">Drag & Drop PDF here </p>
		</div>

		<div class="file">
			<form action="/action_page.php">
				<label for="myfile">Select a file:</label>
				<input type="file" id="myfile" name="myfile"><br><br>
				<input class="btn" type="submit">
			</form>

			<form action="/submit_data" method="POST">
				<label for="email">Enter your email: </label>
				<input type="text" id="email" name="email"><br><br>
				<input class="btn" type="submit">
			</form>
		</div>

		<a style="font-size: 1.2rem;" href="result"><button>View Results</button></a>

		<p class="detail">The file will be sent to pdf parser and it will share the result.</p>

		<div class="footer">
			<div class="vm_img">
				<img src="vet_pic.png"/>
			</div>
			<div class="content">
				<div class="title">UC DAVIS</div>	
				<hr>
				<div class="vet_txt">VETERINARY MEDICINE</div>
				<p class="right">Copyright © 2022 UC DAVIS VETERINARY MEDICINE. All rights resereved</p>
			</div>
		</div>
	</div>

</body>
