<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="index.css">
	<title>Home page</title>
</head>

<!-- this will contain all the content inside the container box, this portion is manual entry -->
<body>
	<!-- this will be under the whole container -->
    <div class="container">
		<div class="header">
				<ul>
					<li><a style="color:#FFBF00; margin-right: 8rem; font-size: 4rem; font-weight: bold;" href="index.html">UC DAVIS</a></li>
					<li><a href="lepto">Lepto-classifier</a></li>
					<li><a href="result">Result</a></li>
					<li><a href="help">Help</a></li>
					<li><a href="contact">Contact</a></li>
				</ul>
			<div class="bar"></div>
		</div>



		<div class="footer">
			<div class="vm_img">
				<img src="vet_pic.png"/>
			</div>
			<div class="content">
				<div class="title">UC DAVIS</div>	
				<hr>
				<div class="vet_txt">VETERINARY MEDICINE</div>
				<p class="right">Copyright © 2022 UC DAVIS VETERINARY MEDICINE. All rights resereved</p>
			</div>
		</div>


	</div>

</body>
